.body_style{
    margin: 0px;
    padding: 0px;
}

.mainContainer{
    height: 80vh;
    overflow: auto;
}

.listaProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}